.bundle/
log/*.log
pkg/
coverage/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache
test/dummy/public/system/workarea
Gemfile.lock
.DS_STORE
.rubocop-http*
