---
http_interactions:
- request:
    method: post
    uri: https://cert.api.vfipayna.com/IPCHAPI/RH.ASPX
    body:
      encoding: UTF-8
      string: "<TRANSACTION><FUNCTION_TYPE>PAYMENT</FUNCTION_TYPE><PAYMENT_TYPE>CREDIT</PAYMENT_TYPE><CLIENT_ID>17270300010001</CLIENT_ID><MERCHANTKEY>49BC6225-4B49-4585-8D34-07DCA05CF3937FD6C525-8AEE-4916-BEEC-BDB</MERCHANTKEY><USER_ID>apiuser</USER_ID><USER_PW>6GHMg7ur</USER_PW><COMMAND>PRE_AUTH</COMMAND><TRANS_AMOUNT>10.00</TRANS_AMOUNT><PRESENT_FLAG>1</PRESENT_FLAG><CARDHOLDER>Mike
        Dalton</CARDHOLDER><CUSTOMER_STREET>22 S. 3rd St.</CUSTOMER_STREET><CUSTOMER_CITY>Philadelphia</CUSTOMER_CITY><CUSTOMER_STATE>PA</CUSTOMER_STATE><CUSTOMER_ZIP>19406</CUSTOMER_ZIP><ACCT_NUM>4111111111111111</ACCT_NUM><CVV2>999</CVV2><EXP_MONTH>12</EXP_MONTH><EXP_YEAR>20</EXP_YEAR></TRANSACTION>"
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<RESPONSE>\r\n        <AUTH_CODE>TAS586</AUTH_CODE>\r\n        <AVS_CODE>N</AVS_CODE>\r\n
        \       <CLIENT_ID>17270300010001</CLIENT_ID>\r\n        <COMMAND>PRE_AUTH</COMMAND>\r\n
        \       <CTROUTD>9</CTROUTD>\r\n        <CVV2_CODE>M</CVV2_CODE>\r\n        <INTRN_SEQ_NUM>95861</INTRN_SEQ_NUM>\r\n
        \       <MERCHID>888000000830</MERCHID>\r\n        <PAYMENT_MEDIA>VISA</PAYMENT_MEDIA>\r\n
        \       <PAYMENT_TYPE>CREDIT</PAYMENT_TYPE>\r\n        <REFERENCE>913616501800</REFERENCE>\r\n
        \       <RESPONSE_TEXT>NO  MATCH </RESPONSE_TEXT>\r\n        <RESULT>APPROVED</RESULT>\r\n
        \       <RESULT_CODE>5</RESULT_CODE>\r\n        <TERMID>1515</TERMID>\r\n
        \       <TERMINATION_STATUS>SUCCESS</TERMINATION_STATUS>\r\n        <TRANS_AMOUNT>10.00</TRANS_AMOUNT>\r\n
        \       <TRANS_DATE>2019.05.16</TRANS_DATE>\r\n        <TRANS_SEQ_NUM>10</TRANS_SEQ_NUM>\r\n
        \       <TRANS_TIME>12:01:00</TRANS_TIME>\r\n        <TROUTD>95861</TROUTD>\r\n
        \       <LPTOKEN>97</LPTOKEN>\r\n</RESPONSE>"
  recorded_at: Thu, 16 May 2019 16:01:02 GMT
- request:
    method: post
    uri: https://cert.api.vfipayna.com/IPCHAPI/RH.ASPX
    body:
      encoding: UTF-8
      string: "<TRANSACTION><FUNCTION_TYPE>PAYMENT</FUNCTION_TYPE><PAYMENT_TYPE>CREDIT</PAYMENT_TYPE><CLIENT_ID>17270300010001</CLIENT_ID><MERCHANTKEY>49BC6225-4B49-4585-8D34-07DCA05CF3937FD6C525-8AEE-4916-BEEC-BDB</MERCHANTKEY><USER_ID>apiuser</USER_ID><USER_PW>6GHMg7ur</USER_PW><COMMAND>PRE_AUTH</COMMAND><TRANS_AMOUNT>0.00</TRANS_AMOUNT><PRESENT_FLAG>1</PRESENT_FLAG><CARDHOLDER>Mike
        Dalton</CARDHOLDER><CUSTOMER_STREET>22 S. 3rd St.</CUSTOMER_STREET><CUSTOMER_CITY>Philadelphia</CUSTOMER_CITY><CUSTOMER_STATE>PA</CUSTOMER_STATE><CUSTOMER_ZIP>19406</CUSTOMER_ZIP><REF_TROUTD>95861</REF_TROUTD></TRANSACTION>"
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<RESPONSE>\r\n        <AUTH_CODE>PREATH</AUTH_CODE>\r\n        <AVS_CODE>N</AVS_CODE>\r\n
        \       <CLIENT_ID>17270300010001</CLIENT_ID>\r\n        <COMMAND>PRE_AUTH</COMMAND>\r\n
        \       <CTROUTD>10</CTROUTD>\r\n        <INTRN_SEQ_NUM>95862</INTRN_SEQ_NUM>\r\n
        \       <MERCHID>888000000830</MERCHID>\r\n        <PAYMENT_MEDIA>VISA</PAYMENT_MEDIA>\r\n
        \       <PAYMENT_TYPE>CREDIT</PAYMENT_TYPE>\r\n        <REFERENCE>913616501802</REFERENCE>\r\n
        \       <RESPONSE_TEXT>NO  MATCH </RESPONSE_TEXT>\r\n        <RESULT>VERIFIED</RESULT>\r\n
        \       <RESULT_CODE>30</RESULT_CODE>\r\n        <TERMID>1515</TERMID>\r\n
        \       <TERMINATION_STATUS>SUCCESS</TERMINATION_STATUS>\r\n        <TRANS_AMOUNT>0.00</TRANS_AMOUNT>\r\n
        \       <TRANS_DATE>2019.05.16</TRANS_DATE>\r\n        <TRANS_SEQ_NUM>11</TRANS_SEQ_NUM>\r\n
        \       <TRANS_TIME>12:01:01</TRANS_TIME>\r\n        <TROUTD>95862</TROUTD>\r\n</RESPONSE>"
  recorded_at: Thu, 16 May 2019 16:01:03 GMT
recorded_with: VCR 2.9.3
