---
http_interactions:
- request:
    method: post
    uri: https://cert.api.vfipayna.com/IPCHAPI/RH.ASPX
    body:
      encoding: UTF-8
      string: "<TRANSACTION><FUNCTION_TYPE>PAYMENT</FUNCTION_TYPE><PAYMENT_TYPE>CREDIT</PAYMENT_TYPE><CLIENT_ID>17270300010001</CLIENT_ID><MERCHANTKEY>49BC6225-4B49-4585-8D34-07DCA05CF3937FD6C525-8AEE-4916-BEEC-BDB</MERCHANTKEY><USER_ID>apiuser</USER_ID><USER_PW>6GHMg7ur</USER_PW><COMMAND>PRE_AUTH</COMMAND><TRANS_AMOUNT>5.00</TRANS_AMOUNT><PRESENT_FLAG>1</PRESENT_FLAG><CARDHOLDER>Ben
        Crouse</CARDHOLDER><CUSTOMER_STREET>22 s. 3rd st.</CUSTOMER_STREET><CUSTOMER_CITY>Philadelphia</CUSTOMER_CITY><CUSTOMER_STATE>PA</CUSTOMER_STATE><CUSTOMER_ZIP>19106</CUSTOMER_ZIP><ACCT_NUM>4111111111111111</ACCT_NUM><CVV2>999</CVV2><EXP_MONTH>01</EXP_MONTH><EXP_YEAR>20</EXP_YEAR></TRANSACTION>"
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<RESPONSE>\r\n        <AUTH_CODE>TAS969</AUTH_CODE>\r\n        <AVS_CODE>N</AVS_CODE>\r\n
        \       <CLIENT_ID>17270300010001</CLIENT_ID>\r\n        <COMMAND>PRE_AUTH</COMMAND>\r\n
        \       <CTROUTD>17</CTROUTD>\r\n        <CVV2_CODE>M</CVV2_CODE>\r\n        <INTRN_SEQ_NUM>336386</INTRN_SEQ_NUM>\r\n
        \       <MERCHID>888000000830</MERCHID>\r\n        <PAYMENT_MEDIA>VISA</PAYMENT_MEDIA>\r\n
        \       <PAYMENT_TYPE>CREDIT</PAYMENT_TYPE>\r\n        <REFERENCE>914813502307</REFERENCE>\r\n
        \       <RESPONSE_TEXT>NO  MATCH </RESPONSE_TEXT>\r\n        <RESULT>APPROVED</RESULT>\r\n
        \       <RESULT_CODE>5</RESULT_CODE>\r\n        <TERMID>1515</TERMID>\r\n
        \       <TERMINATION_STATUS>SUCCESS</TERMINATION_STATUS>\r\n        <TRANS_AMOUNT>5.00</TRANS_AMOUNT>\r\n
        \       <TRANS_DATE>2019.05.28</TRANS_DATE>\r\n        <TRANS_SEQ_NUM>6</TRANS_SEQ_NUM>\r\n
        \       <TRANS_TIME>09:49:40</TRANS_TIME>\r\n        <TROUTD>336386</TROUTD>\r\n
        \       <LPTOKEN>97</LPTOKEN>\r\n</RESPONSE>"
  recorded_at: Tue, 28 May 2019 13:49:41 GMT
- request:
    method: post
    uri: https://cert.api.vfipayna.com/IPCHAPI/RH.ASPX
    body:
      encoding: UTF-8
      string: "<TRANSACTION><FUNCTION_TYPE>PAYMENT</FUNCTION_TYPE><PAYMENT_TYPE>CREDIT</PAYMENT_TYPE><CLIENT_ID>17270300010001</CLIENT_ID><MERCHANTKEY>49BC6225-4B49-4585-8D34-07DCA05CF3937FD6C525-8AEE-4916-BEEC-BDB</MERCHANTKEY><USER_ID>apiuser</USER_ID><USER_PW>6GHMg7ur</USER_PW><COMMAND>VOID</COMMAND><TROUTD>336386</TROUTD></TRANSACTION>"
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<RESPONSE>\r\n        <AUTH_CODE>TAS969</AUTH_CODE>\r\n        <CLIENT_ID>17270300010001</CLIENT_ID>\r\n
        \       <COMMAND>VOID</COMMAND>\r\n        <CTROUTD>17</CTROUTD>\r\n        <INTRN_SEQ_NUM>336392</INTRN_SEQ_NUM>\r\n
        \       <PAYMENT_MEDIA>VISA</PAYMENT_MEDIA>\r\n        <PAYMENT_TYPE>CREDIT</PAYMENT_TYPE>\r\n
        \       <RESULT>VOIDED</RESULT>\r\n        <RESULT_CODE>7</RESULT_CODE>\r\n
        \       <TERMINATION_STATUS>SUCCESS</TERMINATION_STATUS>\r\n        <TRANS_AMOUNT>5.00</TRANS_AMOUNT>\r\n
        \       <TRANS_DATE>2019.05.28</TRANS_DATE>\r\n        <TRANS_SEQ_NUM>8</TRANS_SEQ_NUM>\r\n
        \       <TRANS_TIME>09:49:41</TRANS_TIME>\r\n        <TROUTD>336386</TROUTD>\r\n</RESPONSE>"
  recorded_at: Tue, 28 May 2019 13:49:42 GMT
recorded_with: VCR 2.9.3
